<h1>About 4k Heights:</h1>
<p>Welcome to 4k Heights where you can track your progress towards completing 
  Appalachian Mountain Club's (AMC) New Hampshire 4,000 footer list! A 4,000 footer is a mountain that has
  an elevation of at least 4,000 feet and a minimum of 200 feet prominence.
</p>
<p>
    With 4k Heights you can document your progress towards completing AMC's 4,000 footer list. you
    can also see trail conditions, routes, and more!
</p>
<h2>Technologies:</h2>
<div id="techDiv">
    <i class="fab fa-angular fa-3x"></i>
    <i class="fab fa-html5 fa-3x"></i>
    <i class="fab fa-css3-alt fa-3x"></i>
</div>
