<h2>White Mountain 4k List:</h2>
<p>
  Click this icon to View all 48 (10) peaks on AMC's White Mountain 4,000 footer list!
</p>

<h2>About The List:</h2>
<p>
    While this list is often referred to as the New Hampshire Four Thousand Footers, 
    it is officially known as the White Mountain Four Thousand Footers. 
    Some might argue that the former is technically more correct because the list does not include Old Speck (4170'), 
    which might be considered part of the White Mountains geologically or geographically (and is included in the AMC White Mountain Guide). 
    However, it is not within the boundaries of the White Mountain National Forest and is sufficiently distant from any other four thousand-footer in the Whites to warrant exclusion  
</p>
