<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Codystar:300" rel="stylesheet">

<div id="homepageDiv">
  <div id="flexDiv">
      <h1>{{title | uppercase}}</h1>
      <div id="iconFlexDiv">
          <button id="about"><i class="far fa-dot-circle" (mouseenter)="slideAboutDiv()" (mouseleave)="slideAboutDiv()"></i></button>
          <button id="listView" routerLink="peakList" routerLinkActive="active"><i class="far fa-dot-circle" (mouseenter)="slideListDiv()" (mouseleave)="slideListDiv()"></i></button>
          <button id="peakTrackerView" routerLink="peakTracker" routerLinkActive="active"><i class="far fa-dot-circle" (mouseenter)="slidePeakTrackerDiv()" (mouseleave)="slidePeakTrackerDiv()"></i></button>
          <button id="myListView" routerLink="myList" routerLinkActive="active" (mouseenter)="myListSlider()" (mouseleave)="myListSlider()"><i class="far fa-dot-circle"></i></button>
      </div>
  </div>
    <app-my-list-slider [@slider] = "slideMyList ? 'visible': 'hidden'"></app-my-list-slider>
    <app-about-div [@slider] = "slideAbout ? 'visible': 'hidden'"></app-about-div>
    <app-list-slider [@slider] = "slideList ? 'visible': 'hidden'"></app-list-slider>
    <app-peak-tracker-slider [@slider] = "slidePeakTracker ? 'visible': 'hidden' "></app-peak-tracker-slider>
</div>
<router-outlet></router-outlet>
